a {
    color: inherit;
    text-decoration: none;
}

.exercises-nav {
    border-radius: 1vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #dde9f7;
    box-shadow: inset 2px 2px #d6d6d6;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #5b7ba4;
    text-shadow: -1px 0 #8fafd5, 1px 0 #a2c2f1;
}

.exercises-nav>li>a {
    padding: 10px;
    margin: 0.5vw;
    border-radius: 10px;
    display: inline-block;
}

.exercises-nav>li>a:hover {
    background-color: white;
    box-shadow: 2px 2px #cad2df;
    color: #4e4e4e;
    text-shadow: -1px 0 #9a9a9a, 1px 0 #b9b9b9;
}

.exercises-nav>li:focus {
    outline: none;
}

.w-420 {
    width: 420px;
}

.w-520 {
    width: 520px;
}

.w-620 {
    width: 620px;
}

.w-full {
    width: 100%;
}

.border-3 {
    border: 3px solid black;
}

.border-primary {
    border-color: blue;
}

.rounded-top {
    border-radius: 10px 10px 0 0 ;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

ins.underline-dotted {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

table.border-collapse {
    border-collapse: collapse;
}

thead.border-b-dashed {
    border-bottom: 1px dashed #202020;
}

.fw-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.list-group {
    list-style: none;
}

.list-group.style-disc {
    list-style: disc;
}

.code {
    background-color: #1e1e1e;
    color: #d7d5d6;
}
.html-element-color {
    color: #7699b7;
}
.html-element-color attribute {
    color: #b9e1ed;
}
.html-element-color string,.html-element-color string * {
    color: #bc9b92;
}