.w-420 {
    width: 420px;
}

.w-520 {
    width: 520px;
}

.w-620 {
    width: 620px;
}

.w-full {
    width: 100%;
}

.border-3 {
    border: 3px solid black;
}

.border-primary {
    border-color: blue;
}

.rounded-top {
    border-radius: 10px 10px 0 0 ;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

ins.underline-dotted {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

table.border-collapse {
    border-collapse: collapse;
}

thead.border-b-dashed {
    border-bottom: 1px dashed #202020;
}

.fw-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.list-group {
    list-style: none;
}

.list-group.style-disc {
    list-style: disc;
}

.code {
    background-color: #1e1e1e;
    color: #d7d5d6;
}
.html-element-color {
    color: #7699b7;
}
.html-element-color attribute {
    color: #b9e1ed;
}
.string-color {
    color: #bc9b92;
}