button.show-code {
    background-color: #dde9f7;
    padding: 10px;
    margin: 0.5vw;
    margin-bottom: 1vw;
    border-radius: 10px;
    float: right;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #5b7ba4;
    text-shadow: -1px 0 #8fafd5, 1px 0 #a2c2f1;
}
button.show-code:hover {
    transform: scale(1.1);
}
button.show-code:focus {
    outline: none;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #80808024;
}
.code {    
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    box-shadow: 0 0 10px black;
    color: #d7d5d6;
}
.html-element-color {
    color: #7699b7;
}
.html-element-color attribute {
    color: #b9e1ed;
}
.html-element-color string,.html-element-color string * {
    color: #bc9b92;
}

.w-420 {
    width: 420px;
}

.w-520 {
    width: 520px;
}

.w-620 {
    width: 620px;
}

.w-full {
    width: 100%;
}

.m-5-vw {
    margin: 5vw;
}

.border-3 {
    border: 3px solid black;
}

.border-primary {
    border-color: blue;
}

.rounded-top {
    border-radius: 10px 10px 0 0 ;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

ins.underline-dotted {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

table.border-collapse {
    border-collapse: collapse;
}

thead.border-b-dashed {
    border-bottom: 1px dashed #202020;
}

.fw-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.list-group {
    list-style: none;
}

.list-group.style-disc {
    list-style: disc;
}

.hide {
    display: none;
}