<% exerciseTitle = 'Ejercicio 1' %>
<% exerciseSentence  = 'Determinar el código HTML correspondiente a la siguiente página' %>

<p>
    El lenguaje HTML es <b>tan sencillo</b> que practicamente se entiende sin estudiar el significado de sus etiquetas principales.
</p>
<p>
    Ademas de textos en <b>negrita</b>, tambien se pueden poner <em>en cursiva</em> o <del>tachados</del>
</p>