<% exerciseTitle = 'Ejercicio 2' %>
<% exerciseSentence  = 'Estructurar y marcar el siguiente texto extraído de la Wikipedia para que el navegador lo muestre con el aspecto de la siguiente imagen' %>

<h1>La exploración espacial</h1>
<p>
    La <strong>exploraci&oacute;n espacial</strong> designa los esfuerzos del hombre en estudiar el espacio y sus astros desde el punto de vista 
    científico y de su expltación económica. Estos esfuerzos pueden involucrar tanto seres humanos viajando en naves espaciales como 
    sat&eacute;lites con recursos de telemetr&iacute;a o sondas teleguiadas enviadas a otros planetas (orbitando o aterrizando en la 
    superficie de estos cuerpos celestes).
</p>
<p>
    Las personas que pilotan naves espaciales, o son pasajeros en ellas, se llamand astronauras (en Rusia: <em>cosmonautas;</em> 
    en China: <em>taikonautas</em>). T&eacute;cnicamente se considera astrounauta a todo aquel que emprenda un vuelo sub-orbital (sin 
    entrar en &oacute;rbita) u orbital a como m&iacute;nimo 100 km de altitud (considerado el l&iacute;mite externo de la atm&oacute;sfera).
</p>
<p>
    El cielo siempre ha atraido la atenci&oacute;n y los sue&ntilde;os del hombre. Ya en 1634 se public&oacute; la que se considera primera 
    novela de ciencia ficci&oacute;n, <em>Sommium</em>, de <strong>Johannes Kepler</strong>, que narra un hipotético viaje a la Luna. M&aacute;s tarde 
    , en 1865, en una famosa obra de ficci&oacute;n titulada <em>&DiacriticalDoubleAcute;De la Terre &agrave; la Lune&DiacriticalDoubleAcute;
    </em>, <strong>Julio Verne</strong> escribe sobre un grupo de hombres que viaj&oacute; hasta la Luna usando un gigantesxo ca&ntilde;on.
</p>
<p>
    En Frnacia, <strong>Georges M&eacute;li&egrave;s</strong>, uno de los pioneres del cine, tomaba la novela de Verne para crear 
    <em>&DiacriticalDoubleAcute;The War of the Worlds&DiacriticalDoubleAcute;</em> (1898) y <em>&DiacriticalDoubleAcute;The First Men in The 
    Moon&DiacriticalDoubleAcute;</em> (1901), <strong>Herbert George Wells</strong> tambi&eacute;n concibieron ideas de exploraci&oacute;n del 
    espacio y de contacto con civilizaciones extraterrestres.
</p>