<% exerciseTitle = 'Ejercicio 9' %>
<% exerciseSentence  = 'Determinar el código HTML que corresponde a la siguiente lista anidada compleja' %>

<h1>Men&uacute;</h1>
<ul>
    <li>Inicio</li>
    <li><b>Noticias</b></li>
        <ul class="list-group style-disc">
            <li>Recientes</li>
            <li>M&aacute;s leidas</li>
            <li>M&aacute;s valoradas</li>
        </ul>
    <li>Art&iacute;culos</li>
        <ol>
            <li><b>XHTML</b></li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Otros</li>
        </ol>
    <li>Contacto</li>
</ul>
<ul class="list-group">
    <li><em>Email</em></li>
    <ul class="list-group">
        <li><b>nombre@direccion.com</b></li>
    </ul>
    <li><em>Tel&eacute;fono</em></li>
    <ul class="list-group">
        <li>900 900 900</li>
    </ul>
    <li><em>Fax</em></li>
    <ul class="list-group">
        <li>900 900 900</li>
    </ul>
    
</ul>