<% exerciseTitle = 'Ejercicio 13' %>
<% exerciseSentence  = 'Determinar el código HTML necesario para crear la tabla que se muestra en la siguiente imagen:' %>

<h3>Comparativa de reproductores MP3</h3>
<table border="1" cellspacing="0" cellpadding="10" width="600px">
    <caption>Tabla comparativa de las caracter&iacute;sticas de los reproductores MP3</caption>
    <thead>
        <th></th>
        <th colspan="3">
            <div>
                <img src="/images/mp3_pequeno_blanco.png" alt="mp3_pequeno_blanco" />
                <img src="/images/mp3_pequeno_negro.png" alt="mp3_pequeno_negro" />
            </div>
            <p>MP3 mini</p>
        </th>
        <th colspan="2">
            <div>
                <img src="/images/mp3_grande_blanco.png" alt="mp3_grande_blanco" />
                <img src="/images/mp3_grande_negro.png" alt="mp3_grande_negro" />
            </div>
            <p>MP3 mini</p>
        </th>
    </thead>
    <tbody align="center">
        <tr>
            <th>Capacidad de almacenamiento</th>
            <td>4GB (1.000 canciones)</td>
            <td>8GB (2.000 canciones)</td>
            <td>16GB (4.000 canciones)</td>
            <td>30GB (7.500 canciones)</td>
            <td>80GB (20.000 canciones)</td>
        </tr>
        <tr>
            <th>Colores</th>
            <td><img src="/images/color_blanco.png" alt="color_blanco"></td>
            <td>
                <img src="/images/color_negro.png" alt="color negro">
                <img src="/images/color_verde.png" alt="color verde">
                <img src="/images/color_azul.png" alt="color azul">
                <img src="/images/color_rosa.png" alt="color rosa">
            </td>
            <td><img src="/images/color_negro.png" alt="color negro"></td>
            <td colspan="2">
                <img src="/images/color_blanco.png" alt="color blanco">
                <img src="/images/color_negro.png" alt="color negro">
            </td>
        </tr>
        <tr>
            <th>Pantalla</th>
            <td colspan="3">LCD de 3 cm (diagonal) con retroiluminaci&oacute;n</td>
            <td colspan="2">LCD de 6 cm (diagonal) con retroiluminaci&oacute;n</td>
        </tr>
        <tr>
            <th rowspan="2">Tiempo de carga</th>
            <td colspan="3" rowspan="2">Unas 3 horas</td>
            <td colspan="2">Unas 4 horas</td>
        </tr>
        <tr><td colspan="2">Unas 2 horas para alcanzar el 80% de la capacidad</td></tr>
    </tbody>
</table>