<% exerciseTitle = 'Ejercicio 12' %>
<% exerciseSentence  = 'Determinar el código HTML necesario para crear la tabla que se muestra en la siguiente imagen. Utilizar las celdas de cabecera donde sea necesario y añadir todos los atributos posibles.' %>

<h1>Resutado de la b&uacute;squeda</h1>

<table border="1" cellspacing="0" cellpadding="8">
    <caption>Resultado de la b&uacute;squeda</caption>
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Datos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center"><img src="/images/portatil.png" /></td>
            <td>
                <a href=""><u>Port&aacute;til - 3 GHz - 4 GB RAM</u></a>
                <p><a href=""><u>Comprar:</u></a> <del>2.999 €</del> <b>2.599 €</b></p>
            </td>
        </tr>
        <tr>
            <td><img src="/images/videocamara.png" /></td>
            <td>
                <a href="">Videoc&aacute;mara - Alta definici&oacute;n 1080p - 60 GB</a>
                <p><a href="">Comprar:</a> <del>1.099 €</del> <b>999 €</b></p>
            </td>
        </tr>
        <tr>
            <td><img src="/images/tv.png" alt="tv" /></td>
            <td>
                <a href="">Televisor - 46&DiacriticalDoubleAcute; - Full HD</a>
                <p><a href="">Comprar:</a> <del>1.999 €</del> <b>1799 €</b></p>
            </td>
        </tr>
        <tr>
            <td><img src="/images/movil.png" alt="mobil" /></td>
            <td>
                <a href="">M&oacute;vil - 3G - Wi-Fi - 8 GB</a>
                <p><a href="">Comprar:</a> <del>399 €</del> <b>349 €</b></p>
            </td>
        </tr>
    </tbody>
</table>