<% exerciseTitle = 'Ejercicio 5' %>
<% exerciseSentence  = 'Determinar el código HTML que corresponde al siguiente documento:' %>

<h1>Sintaxis de la etiqueta &lt;blockquote&gt;</h1>
<p>La sintaxis de la etiqueta &lt;blockquote&gt; se muestra a continuaci&oacute;n:</p>
<p>
    &lt;blockquote cite=&DiacriticalDoubleAcute;<em>...direccion original de la cita...</em>&DiacriticalDoubleAcute;&gt; Texto que 
    se cita&lt;/blockquote&gt;
</p>