<% exerciseTitle = 'Ejercicio 14' %>
<% exerciseSentence  = 'Determinar el código HTML necesario para crear el formulario que se muestra en la siguiente imagen:' %>

<h3>Rellena tu CV</h3>
<form method="POST" action="/php/insertar_cv.php">
    <div><label for="name">Nombre</label></div>
    <div><input id="name" type="text" maxlength="30"></div>
    <div><label for="lastname">Apellidos</label></div>
    <div><input id="lastname" type="text" maxlength="80"></div>
    <div><label for="password">Contraseña</label></div>
    <div><input id="password" type="password" maxlength="10"></div>
    <div><label for="dni">DNI</label></div>
    <div><input id="dni" type="text"></div>
    <div><label>Sexo</label></div>
    <div><input name="sex" id="man" type="radio"><label for="man">Hombre</label></div>
    <div><input name="sex" id="woman" type="radio"><label for="woman">Mujer</label></div>
    <br>
    <div><label for="photo">Incluir mi foto </label><input id="photo" type="file"></div>
    <br>
    <div>
        <input id="suscribe" type="checkbox" checked>
        <label for="suscribe">Suscribirme al boletín de novedades</label>
    </div>
    <br>
    <div>
        <input type="submit" value="Guardar cambios">
        <input type="buttons" value="Borrar los datos introducidos">
    </div>
</form>