<% exerciseTitle = 'Ejercicio 11' %>
<% exerciseSentence  = 'Determinar el código HTML necesario para crear la tabla que se muestra en la siguiente imagen:' %>

<h1>Su pedido</h1>
<table border="1px" cellspacing="0" cellpadding="5">
    <thead>
        <tr>
            <th>Nombre producto</th>
            <th>Precio unitario</th>
            <th>Unidades</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Reproductor MP3 (80GB)</td>
            <td>192.02</td>
            <td>1</td>
            <td>192.02</td>
        </tr>
        <tr>
            <td>Fundas de colores</td>
            <td>2.50</td>
            <td>5</td>
            <td>12.50</td>
        </tr>
        <tr>
            <td>Reproductor de radio &amp; control remoto</td>
            <td>12.99</td>
            <td>1</td>
            <td>12.99</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>TOTAL</th>
            <td><b>-</b></td>
            <td><b>7</b></td>
            <td><b>207.51</b></td>
        </tr>
    </tfoot>
</table>
