<% exerciseTitle = 'Ejercicio 8' %>
<% exerciseSentence  = 'Determinar el código HTML que corresponde a la siguiente lista anidada simple' %>

<h1>Men&uacute;</h1>
<ul>
    <li>Inicio</li>
    <li><b>Noticias</b></li>
    <ul class="list-group style-disc">
        <li><a href="#">Recientes</a></li>
        <li><a href="#">M&aacute;s leidas</a></li>
        <li><a href="#">M&aacute;s valoradas</a></li>
    </ul>
</ul>