<!DOCTYPE html>
<%- include('../assets/head') %>
<% include(exercisePath) %>
<body>
    <h2><%= exerciseTitle %></h2>
    <p><%= exerciseSentence %></p>
    <div class="d-flex justify-content-center">
        <article class="w-420 border-3 border-primary rounded-top px-10">
            <main>
                <%- include(exercisePath) %>
            </main>
        </article>
    </div>
    <h2>Ejercicio 4</h2>
    <p>Determinar el c&oacute;digo HTML que corresponde al siguiente documento:</p>
    <div class="d-flex justify-content-center">
        <article class="w-520 border-3 border-primary rounded-top px-10">
            <main>
                <h1>Caracter&iacute;sticas de los planetas</h1>
                <table class="border-collapse w-full">
                    <thead class="border-b-dashed color-secondary">
                        <tr>
                            <th class="fw-normal">Nombre</th>
                            <th class="fw-normal">Diametro relativo</th>
                            <th class="fw-normal">Per&iacute;odo orbital</th>
                            <th class="fw-normal">N&uacute;mer de lunas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mercurio</td>
                            <td class="text-center">&nbsp;0,382</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;0,24 a&ntilde;os</td>
                            <td class="text-center">&nbsp;0</td>
                        </tr>
                        <tr>
                            <td>Venuss</td>
                            <td class="text-center">&nbsp;0,949</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;0,62 a&ntilde;os</td>
                            <td class="text-center">&nbsp;0</td>
                        </tr>
                        <tr>
                            <td>Tierra</td>
                            <td class="text-center">&nbsp;1&emsp;&emsp;</td>
                            <td class="text-center">&nbsp;&nbsp;1&emsp;&ensp;a&ntilde;o</td>
                            <td class="text-center">&nbsp;1</td>
                        </tr>
                        <tr>
                            <td>Marte</td>
                            <td class="text-center">&nbsp;0,532</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;1,88 a&ntilde;os</td>
                            <td class="text-center">&nbsp;2</td>
                        </tr>
                        <tr>
                            <td>J&uacute;piter</td>
                            <td class="text-center">11,209</td>
                            <td class="text-center">&nbsp;&nbsp;11,86 a&ntilde;os</td>
                            <td class="text-center">49</td>
                        </tr>
                        <tr>
                            <td>Saturno</td>
                            <td class="text-center">&nbsp;9,449</td>
                            <td class="text-center">&nbsp;&nbsp;29,46 a&ntilde;os</td>
                            <td class="text-center">52</td>
                        </tr>
                        <tr>
                            <td>Urano</td>
                            <td class="text-center">&nbsp;4,007</td>
                            <td class="text-center">&nbsp;&nbsp;84,01 a&ntilde;os</td>
                            <td class="text-center">27</td>
                        </tr>
                        <tr>
                            <td>Neptuno</td>
                            <td class="text-center">&nbsp;3,883</td>
                            <td class="text-center">164,80 a&ntilde;os</td>
                            <td class="text-center">13</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </article>
    </div>
</body>