<!DOCTYPE html>
<%- include('../assets/head') %>
<% include(exercisePath) %>
<body>
    <h2><%= exerciseTitle %></h2>
    <p><%= exerciseSentence %></p>
    <div class="d-flex justify-content-center">
        <article id="article" class="w-420 border-3 border-primary rounded-top px-10">
            <main>
                <%- include(exercisePath) %>
            </main>
        </article>
    </div>

    <script>
        if (location.href.substr(location.href.length - 2, 2) !== '/1') {
            document.getElementById('article').classList.replace('w-420', 'w-520')
        }
    </script>
</body>