<!DOCTYPE html>
<%- include('../assets/head') %>
<body>
    <h2>Ejercicio 1</h2>
    <p>Determinar el c&oacute;digo HTML correspondiente a laa siguiente p&aacute;gina:</p>
    <div class="d-flex justify-content-center">
        <article class="w-420 border-3 border-primary rounded-top px-10">
            <main>
                <p>El lenguaje HTML es <b>tan sencillo</b> que practicamente se entiende sin estudiar el significado de sus etiquetas principales.</p>
                <p>Ademas de textos en <b>negrita</b>, tambien se pueden poner <em>en cursiva</em> o <del>tachados</del></p>
            </main>
        </article>
    </div>
    <h2>Ejercicio 2</h2>
    <p>Estructurar y marcar el siguiente texto extra&iacute;do de la Widkipedia para que el navegador lo muestre con el aspecto de la siguiente imagen:</p>
    <div class="d-flex justify-content-center">
        <article class="w-520 border-3 border-primary rounded-top px-10">
            <main>
                <h1>La exploración espacial</h1>
                <p>La <strong>exploraci&oacute;n espacial</strong> designa los esfuerzos del hombre en estudiar el espacio y sus astros desde el punto de vista 
                científico y de su expltación económica. Estos esfuerzos pueden involucrar tanto seres humanos viajando en naves espaciales como 
                sat&eacute;lites con recursos de telemetr&iacute;a o sondas teleguiadas enviadas a otros planetas (orbitando o aterrizando en la 
                superficie de estos cuerpos celestes).</p>
                <p>Las personas que pilotan naves espaciales, o son pasajeros en ellas, se llamand astronauras (en Rusia: <em>cosmonautas;</em> 
                en China: <em>taikonautas</em>). T&eacute;cnicamente se considera astrounauta a todo aquel que emprenda un vuelo sub-orbital (sin 
                entrar en &oacute;rbita) u orbital a como m&iacute;nimo 100 km de altitud (considerado el l&iacute;mite externo de la atm&oacute;sfera).</p>
                <p>El cielo siempre ha atraido la atenci&oacute;n y los sue&ntilde;os del hombre. Ya en 1634 se public&oacute; la que se considera primera 
                novela de ciencia ficci&oacute;n, <em>Sommium</em>, de <strong>Johannes Kepler</strong>, que narra un hipotético viaje a la Luna. M&aacute;s tarde 
                , en 1865, en una famosa obra de ficci&oacute;n titulada <em>&DiacriticalDoubleAcute;De la Terre &agrave; la Lune&DiacriticalDoubleAcute;
                </em>, <strong>Julio Verne</strong> escribe sobre un grupo de hombres que viaj&oacute; hasta la Luna usando un gigantesxo ca&ntilde;on.</p>
                <p>En Frnacia, <strong>Georges M&eacute;li&egrave;s</strong>, uno de los pioneres del cine, tomaba la novela de Verne para crear 
                <em>&DiacriticalDoubleAcute;The War of the Worlds&DiacriticalDoubleAcute;</em> (1898) y <em>&DiacriticalDoubleAcute;The First Men in The 
                Moon&DiacriticalDoubleAcute;</em> (1901), <strong>Herbert George Wells</strong> tambi&eacute;n concibieron ideas de exploraci&oacute;n del 
                espacio y de contacto con civilizaciones extraterrestres.</p>
            </main>
        </article>
    </div>
    <h2>Ejercicio 3</h2>
    <p>Estructurar y marcar el siguiente texto para que el navegador lo muestre con el aspecto de la siguiente imagen:</p>
    <div class="d-flex justify-content-center">
        <article class="w-520 border-3 border-primary rounded-top px-10">
            <main>
                <h1>El &Aacute;rtica ha perdido el 14% de su hielo marino perenne en un solo a&ntilde;o</h1>
                <p><strong>WASHINGTON.-</strong> eL HIELO PERENNE DEL &Aacute;rtico se redujo en un 14% durante el &uacute;ltimo a&ntilde;o, al perder 
                <stron>720.000 kil&oacute;metros cuadrados</stron>, una superficie superios a la Pen&iacute;nsula Ib&eacute;rica, seg&uacute;n datos de la 
                <ins class="border-b-dotted" href="https://www.nasa.gov/multimedia/imagegallery/index.html">NASA</ins>.</p>
                <p>Seg&uacute;n el <ins class="border-b-dotted">JPL</ins>, la p&eacute;rdida del hielo perenne, que debiera mantenerse durante todo el 
                verano, fue todav&iacute;a mayor y se acerc&oacute; a un 50% en el momento de que ese hielo se desplazaba desde el &Aacute;rtico oriental 
                hacia el oeste.</p>
                <p><strong>Son Nguiem</strong>, investigador del <ins class="border-b-dotted">JPL</ins> ha declarado que:</p>
                <blockquote><em>&DiacriticalDoubleAcute;Los cambios registrados en esos a&ntilde;os en el hielo &aacute;rtico son r&aacute;pidos y 
                espectaculares. De mantenerse la situaci&oacute;n, &eacute;sta tendr&aacute; un impacto profundo en el ambiente, as&iacute; como en el 
                transporte marino y el comercio.&DiacriticalDoubleAcute;</em></blockquote>
            </main>
        </article>
    </div>
    <h2>Ejercicio 4</h2>
    <p>Determinar el c&oacute;digo HTML que corresponde al siguiente documento:</p>
    <div class="d-flex justify-content-center">
        <article class="w-520 border-3 border-primary rounded-top px-10">
            <main>
                <h1>Caracter&iacute;sticas de los planetas</h1>
                <table class="border-collapse w-full">
                    <thead class="border-b-dashed color-secondary">
                        <tr>
                            <th class="fw-normal">Nombre</th>
                            <th class="fw-normal">Diametro relativo</th>
                            <th class="fw-normal">Per&iacute;odo orbital</th>
                            <th class="fw-normal">N&uacute;mer de lunas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mercurio</td>
                            <td class="text-center">&nbsp;0,382</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;0,24 a&ntilde;os</td>
                            <td class="text-center">&nbsp;0</td>
                        </tr>
                        <tr>
                            <td>Venuss</td>
                            <td class="text-center">&nbsp;0,949</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;0,62 a&ntilde;os</td>
                            <td class="text-center">&nbsp;0</td>
                        </tr>
                        <tr>
                            <td>Tierra</td>
                            <td class="text-center">&nbsp;1&emsp;&emsp;</td>
                            <td class="text-center">&nbsp;&nbsp;1&emsp;&ensp;a&ntilde;o</td>
                            <td class="text-center">&nbsp;1</td>
                        </tr>
                        <tr>
                            <td>Marte</td>
                            <td class="text-center">&nbsp;0,532</td>
                            <td class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;1,88 a&ntilde;os</td>
                            <td class="text-center">&nbsp;2</td>
                        </tr>
                        <tr>
                            <td>J&uacute;piter</td>
                            <td class="text-center">11,209</td>
                            <td class="text-center">&nbsp;&nbsp;11,86 a&ntilde;os</td>
                            <td class="text-center">49</td>
                        </tr>
                        <tr>
                            <td>Saturno</td>
                            <td class="text-center">&nbsp;9,449</td>
                            <td class="text-center">&nbsp;&nbsp;29,46 a&ntilde;os</td>
                            <td class="text-center">52</td>
                        </tr>
                        <tr>
                            <td>Urano</td>
                            <td class="text-center">&nbsp;4,007</td>
                            <td class="text-center">&nbsp;&nbsp;84,01 a&ntilde;os</td>
                            <td class="text-center">27</td>
                        </tr>
                        <tr>
                            <td>Neptuno</td>
                            <td class="text-center">&nbsp;3,883</td>
                            <td class="text-center">164,80 a&ntilde;os</td>
                            <td class="text-center">13</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </article>
    </div>
</body>