<!DOCTYPE html>
<%- include('../assets/head') %>
<% include(exercisePath) %>
<body>
    <h2><%= exerciseTitle %></h2>
    <p><%= exerciseSentence %></p>
    <div class="d-flex justify-content-center">
        <article class="w-420 border-3 border-primary rounded-top px-10">
            <main>
                <%- include(exercisePath) %>
            </main>
        </article>
    </div>
</body>