<nav>
    <ul class='exercises-nav'>
        <li><a href='/exercise/1'>Exercise1</a></li>
        <li><a href='/exercise/2'>Exercise2</a></li>
        <li><a href='/exercise/3'>Exercise3</a></li>
        <li><a href='/exercise/4'>Exercise4</a></li>
        <li><a href='/exercise/5'>Exercise5</a></li>
        <li><a href='/exercise/6'>Exercise6</a></li>
        <li><a href='/exercise/7'>Exercise7</a></li>
        <li><a href='/exercise/8'>Exercise8</a></li>
        <li><a href='/exercise/9'>Exercise9</a></li>
        <li><a href='/exercise/10'>Exercise10</a></li>
        <li><a href='/exercise/11'>Exercise11</a></li>
        <li><a href='/exercise/12'>Exercise12</a></li>
        <li><a href='/exercise/13'>Exercise13</a></li>
        <li><a href='/exercise/14'>Exercise14</a></li>
        <li><a href='/exercise/15'>Exercise15</a></li>
        <li><a href='/exercise/16'>Exercise16</a></li>
    </ul>
</nav>